$themeColor:#ff5e5e;
$assistColor:#9bd9fd;
$fontColor:#333333;
$contentFontColor:#666666;
$tipsFontColor:#999999;
$assistFontColor:#cccccc;
$splitColor:#e0e0e0;
$backgroundColor:#f5f5f5;

$fs-32:32px;
$fs-20:20px;
$fs-18:18px;
$fs-16:16px;
$fs-14:14px;
$fs-12:12px;

$w-1200:1200px;
$w-1190:1190px;

