    .home-nav{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        ul{
            display: flex;
            justify-content: center;
            border: none;
        }
    }
    .serch-container{
        width: $w-1190;
        margin: 0 auto;
        display: flex;
        margin-top: 15px;
        justify-content: center;
        .left-icon,.right-serch{
            width: 50%;
            text-align: center;
        }
        .left-icon{
            ul{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0;
                li{
                    list-style: none;
                    padding: 0px 25px;
                    font-size: $fs-12;
                    color: #cecece;
                    text-align: center;
                    cursor: pointer;
                    .icon-img:after{
                        content: '';
                        width: 1px;
                        height: 40px;
                        border-left: 1px solid #cecece;
                        position: absolute;
                        margin-left: 30px;
                    }
                }
                li:last-child{
                    .icon-img{
                        border: none;
                    }
                }
            }
        }
    }
    .right-serch{
        display: flex;
        div:first-child{
            width: 385px;
            height: 34px;
            input{
                height: 34px;
                line-height: 34px;
            }
        }
       .serch-input{
           span{
               margin-left: 5px;
               margin-top: 5px;
               display: inline-block;
               cursor: pointer;
               &:hover{
                   color:$themeColor;
               }
           }
           font-size: $fs-12;
           text-align: left;
           color: #cecece;
       }
       .gouwuche{
            width: 120px;
            height: 34px;
            border:1px solid  $themeColor;
            margin-left: 30px;
            line-height: 34px;
            font-size: $fs-12;
            color: $themeColor;
            .my-badge{
                position: relative;;
                top: 0;
                transform: translateY(-50%) translateX(0px);
                background-color:  $themeColor;
                border-radius: 14px;
                color: #fff;
                display: inline-block;
                font-size: $fs-12;
                height: 14px;
                width: 14px;
                line-height: 14px;
                text-align: center;
                white-space: nowrap;
                border: 1px solid #fff;
                padding: 0.5px;
            }
        }
    }
    .home-slider{
        height: 450px;
        margin-top: 5px;
        width: 100%;
        clear: both;
    }
    .main-container{
        width: $w-1190;
        margin: 0 auto;
        margin-top: 10px;
    }